@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
body {
  margin: 0;
  font-family: "Kdam Thmor Pro", sans-serif;
}

body * {
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  font-size: 3vh;
  color: #77ffc0;
}

.left-login-image {
  width: 35vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 20px 40px #000000;
}

.card-login > h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #000000;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-register {
  width: 35%;
  padding: 5px 0px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 800;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-closed-modal {
  float: right;
  width: 24px;
  cursor: pointer;
  background-color: #77ffc0;
  text-align: center;
  line-height: 24px;
  border-radius: 5px;
}

.modal {
  position: fixed;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181717c2;
  transform: scale(1.1);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.25s ease-in-out, tranform 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
}

.modal-content {
  background-color: #2f2841;
  padding: 16px 24px;
  width: 384px;
  border-radius: 8px;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.form-modal {
  justify-content: center;
  align-content: center;
  padding: 20px 10px;
}

.form-modal > input {
  width: 100%;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background: #2f2841;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #000000;
}

.form-modal > h1 {
  text-align: center;
  font-size: 3vh;
  color: #77ffc0;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }

  .left-login > h1 {
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }

  .left-login > h1 {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
  }

  .right-login {
    width: 100%;
    height: auto;
  }

  .left-login-image {
    width: 50vw;
  }

  .card-login {
    width: 90%;
  }
}
